<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao Painel Administrativo da Excellenty!</strong></h1>
            <p class="lead">Aqui você pode gerenciar as tabelas de clientes, produtos e pedidos com facilidade.</p>
            <hr class="my-4">
            <p class="currentDate"></p>       
            <p class="lead">
              <a class="btn btn-secondary btn-lg" href="/pedidos" role="button">Consultar Pedidos</a>
            </p>
        </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>O que você deseja fazer?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/clientes">Gerenciar Clientes</a></li>
                    <li><a href="/produtos">Gerenciar Produtos</a></li>
                    <li><a href="/pedidos">Gerenciar Pedidos</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
